<!html>
<html>
  <head>
	<title>All Your Pants</title>
	<link rel="stylesheet" href="/static/main.css" type="text/css" media="screen">
  </head>
  <body>
	<div id="header">
	  <a href="/" title="Home/Latest">ALL YOUR PANTS</a> -- Look at this
	</div>
	<div id="content">
	  {{{body}}}
	</div>
	<div id="footer">
	  I'm pretty sure someone made this
	</div>
  </body>
</html>
