<div id="page">
<div id="comic" class="strip">
<img src="{{ comic.url }}" alt="{{ comic.time }}" />
</div><!--#comic.strip-->
</div><!--#page-->

<div id="nav" class="strip bottom">

  <div class="pn">
{{#if comic.prev}}
  <a href="{{ comicUrl comic.prev }}" alt="Prev" id="prev" class="nav-prev"><i class="icon-left-open icon"></i></a>
{{/if}}
  </div><!--.pn-->

<a href="/archive" class="archive" title="archive">archive</a>

<!-- vote button goes HERE! -->

<a href="/random/" alt="Random Strip" class="random" title="random strip">.ayp me</a>

  <div class="pn">
{{#if comic.next}}
  <a href="{{ comicUrl comic.next }}" alt="Next" id="next" class="nav-next"><i class="icon-right-open icon"></i></a>
{{/if}}
  </div><!--.pn-->
</div><!--#nav.strip-->
