<h1>Look at this with your special eyes</h1>

<img src="{{ comic.url }}" alt="{{ comic.time }}" />

{{#if comic.prev}}
  <a href="{{ comicUrl comic.prev }}" alt="Prev">Prev</a>
{{/if}}

<a href="/random/" alt="Random Strip">Random</a>

{{#if comic.next}}
  <a href="{{ comicUrl comic.next }}" alt="Next">Next</a>
{{/if}}

<hr>

<marquee>
  <a href="/archive">CHECK OUT THE COMPLETE ARCHIVE, IT MAKES EVEN LESS SENSE!</a>
</marquee>
