/* AYP Version 2.1 CSS by solios, who is full of WordPress habits. */

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com - It works(tm). */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,
abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,
strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,
time,mark,audio,video{border:0;font-size:100%;font:inherit;
vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,
figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}
ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,
blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}

html {
	background-color: #8d6f50;
	background-image: url("/static/images/ayp_background_scaled.jpg");
	background-attachment: fixed;
	height: 100%;
}

body {
	line-height: 0;
	color: white;
	font-family: helvetica, arial, sans-serif;
}

a {
	color: white;
	text-decoration :none;
	font-weight: bold;
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
}

a:hover {
	/* color: #f65404;  Same color as AYP header graphic. */
	color: orange;
}

body { height: 100%; }

#flavor {
	/* It's not stupid, it's advanced! */
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	/* seriously ugly; seriously necessary. */
	background: rgba(0,0,0,0.7); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.7) 0%,
		rgba(0,0,0,0.0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom,
	 	color-stop(0%,rgba(0,0,0,0.7)),
		color-stop(100%,rgba(0,0,0,0.0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.7) 0%,
		rgba(0,0,0,0.0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.7) 0%,
		rgba(0,0,0,0.0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.7) 0%,
		rgba(0,0,0,0.0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.7) 0%,
		rgba(0,0,0,0.0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0.7)',
		endColorstr='rgba(0,0,0,0.0)',GradientType=0 ); /* IE6-9 */
	height: 100%;
	background-attachment: fixed;
}

::selection	{
	background:#333; color: #ccc;  /* Safari and Opera */
}

::-moz-selection {
	background:#333; color: #ccc;  /* Firefox */
}

/* A matching brown scrollbar. */

::-webkit-scrollbar {
	width: 14px;
}

::-webkit-scrollbar-track {
	border-radius: 0px;
	background-color: #222;
}

::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: #634c38;
}

::-webkit-scrollbar-thumb:active {
	border-radius: 0px;
	background-color: #8a6a4f;
}

::-webkit-scrollbar-corner    {
	background-color: #646464;
	color: #c8c8c8;
}

::-webkit-resizer {
	background-color: #646464;
	color:#c8c8c8;
}


#ayp {
	min-height: 100%;
	position: relative;
	margin: 0 auto;
	max-width: 1120px;
  	overflow: hidden;
}

#header {
	width: 970px;
	margin: 0 auto;
	padding: 20px;
	height: 100px;
}

#header h1 a {
	width: 220px;
	height: 112px;
	background-image: url("/static/images/ayp_2-line.png");
	display: block;
	float: left;
	margin-right: 20px;
	text-indent: -10000px;
}

.header-box {
	line-height: 0px;
	margin-top: 10px;
}

#content {
	margin-top: 10px;
	margin-bottom: 60px; /* Eyeball against #footer */
}

#page {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 4px 12px rgba(0,0,0,0.7);
	margin-bottom: 10px;
}

.page-archive #comic {
	margin-bottom: 20px;
}

.page-archive #comic:last-child {
	margin-bottom: 0px;
}

#comic {
	background-color: #eee;

	/* This forces the correct page size in the event of slow images,
	and gives the reader something to look at while strips load; the
	knowledge that a strip is supposed to be there.  This works
	responsively.  AYP strips are 3x1, so height is 33.33% of width. */

	position: relative;
	padding-bottom: 33.33%;
	height: 0;
	margin: 0 auto;
	max-width: 1080px;
}

#comic img {
	/* Combined with #comic this makes the strip resize responsively. */
	max-width: 100%;
	height: auto;
}

#nav {
	text-align: center;
	padding: 10px;
	font-size: 18px;
	text-shadow: 0px 2px 4px rgba(0,0,0,0.7)
}

#nav.top {
	margin-bottom: 10px;
	padding-top: 0px;
}

#nav.top a {
	margin: 0px 8px;
}

#nav.bottom a {
	margin: 0px 8px;
}

#nav .pn {
	display: inline-block;
	width: 41px; /* This is the computed width in Chrome;
	setting the width keeps the front page navbar aligned
	correctly, accounting for the lack of a "next" there,
	as well as a lack of a "previous" on the first page of
	the comic archive, should you ever see it. */
}

#footer {
	position: absolute;
	bottom: 0;
	width: 1080px;
	padding: 10px;
	display: block;
	margin: 0 auto;
}

#footer p {
	text-shadow: 0px 1px 2px rgba(0,0,0,0.75);
	text-align: center;
	font-size: 14px;
	line-height: 24px;
}

@import 'modal';


#show-nav, .modal {
	cursor: pointer;
}


@media (max-width: 1120px)
	/* Strip plus gutters.  We're not doing a whole lot at this stage, just
	shaving the rounded corners off of #page and giving #header some
	breathing room. */ {

#page,{
	border-radius: 0px;
}

#header {
	padding: 20px 0px;
}

} /* End @media (max-width: 1120px).  That was brief. */


@media (max-width: 1000px)
	/* Getting smaller, time to adjust everything else. At this point
	we're assuming a tablet or netbook; smaller but not necessarily
	a phone. */ {

#ayp {
	max-width: 100%;
}

#header {
	height: 60px;
	padding-bottom: 10px;
	width: 100%;
}

#header h1 a {
	float: none; margin-right: 0px; margin: 0 auto;
	background-image: url("/static/images/ayp_1-line.png");
	background-size: 500px auto;
	width: 500px;
	height: 60px;
	background-repeat: no-repeat;
}

.header-box {
	position: absolute;
	bottom: 70px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.header-box img {
	/* classic banner ad size */
	max-width: 468px;
	height: auto;
}

#page {
	padding: 10px;
}

.page-archive #comic {
	margin-bottom: 10px;
}

#content {
	margin-bottom: 140px;
}

#footer {
	max-width: 100%;
	padding: 10px 0px;
}

} /* End @media (max-width: 1000px). */


@media (max-width: 650px)
	/* This one's a bit more involved. Phones are jerks.  Let's deal with
	this in CSS instead of with device queries that will *also* require
	CSS. */ {

html {
	min-width: 600px; /* anything smaller than this is Work.
	More importantly this is the smallest viewport width that
	Arial strips are legible at. */

	/* there are issues with #flavor even on modern phones so lets drop it
	and go with a flat gradient background, sampled from a screenshot of
	the #flavor-based background presentation.  This loses the texture but
	maintains most of the desired tone. */
	background-image:none;
	background: #2c2218; /* Old browsers */
	background: -moz-linear-gradient(top,  #2c2218 0%, #6f563e 100%);
		/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom,
	 	color-stop(0%,#2c2218), color-stop(100%,#6f563e));
		/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2c2218 0%,#6f563e 100%);
		/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2c2218 0%,#6f563e 100%);
		/* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2c2218 0%,#6f563e 100%);
		/* IE10+ */
	background: linear-gradient(to bottom,  #2c2218 0%,#6f563e 100%);
		/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2218', endColorstr='#6f563e',GradientType=0 );
		/* IE6-9 */
	background-attachment: fixed;
}

#flavor {
	display: none;
}

#header {
	height: 30px;
}

#header h1 a {
	background-size: 300px auto;
	background-repeat: no-repeat;
	height: 35px;
	width: 300px;
}

.header-box {
	bottom: 10px;
}

#page {
	padding: 5px;
}

#content {
	margin-bottom: 0px;
}

.page-archive #comic {
	margin-bottom: 5px;
}

#nav {
	font-size: 24px;
	line-height: 36px;
}

#footer {
	/* Works around adbox and font sizing issues on mobile devices by
	assimilating the #footer and sticking the .header-box under it. */
	position: relative;
	margin-bottom: 70px;
}

#footer p {
	font-size: 12px;
}

} /* End @media (max-width: 650px). */

// AJAX-triggering links will have this class
// applied briefly after an error or success
a.failed {
  color: red;
}

a.succeeded {
  color: green;
}
