#modal-container {
        z-index: 100;
        background: rgba(0,0,0,.5);
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: none;
}

.modal {
        background: white;
        border-radius: 10px;
        box-shadow: 0px 4px 12px rgba(0,0,0,0.7);
        width: 300px;
        height: 300px;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -170px 0 0 -170px;
        color: #666;
}

.modal span {
        margin-right: 5px;
        padding: 4px 8px;
        background-color: #eee;
        border-radius: 3px;
}

.modal h1 { margin-bottom: 20px; }

.modal li {
        display: inline-block;
        font-size: 12px;
        line-height: 22px;
        width: 100%;
        margin: 5px 0px;
}
